<!doctype html>
<html>
  <head>
    <title>Restaurant Reviewer</title>

    <!-- style sheets -->
    <link href='bower_components/skeleton/css/normalize.css' rel="stylesheet">
    <link href='/styles.css' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize.css-->
    <link type="text/css" rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	<script src='bower_components/es6-shim/es6-shim.js'></script>
  </head>
  <body>

  <!-- static nav, just to enhance app look -->
  <nav>
      <div class="nav-wrapper">
          <div class="row">
          <div class="col s12">
              <a href="#" class="brand-logo">Restaurant Reviewer</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li>Welcome Malin</li>
              </ul>
          </div>
      </div>
      </div>
  </nav>

  <!-- container to hold the elements in center -->
   <div class="container">
    <!-- holds react component -->
    <div id="mount"></div>
   </div>


    <!-- scripts -->
   <script src="/app.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="../bower_components/Materialize/dist/js/materialize.min.js"></script>

  </body>
</html>
